.g4 {

    width: 900px;
    margin: 50px auto;
    padding: 10px;
    box-shadow: 0 0 10px -1px black;

}
.g4 svg {

    width: 100%;
    border: dashed 1px rgba(0,0,0,0.1);

}
.g4 #x-axis {

    fill: rgba(255,0,0,0.5);

}
.g4 #y-axis {

    fill: rgba(0,0,255,0.5);

}