.g2 {

	overflow: auto;
	font-size: 8pt;
	padding-bottom: 100px;
}
.g2 pre {

	font-size: 8pt;
	max-height: 200px;
	overflow-y: auto;
	width: 300px;
	padding: 15px;
	margin: 10px 5px;
	box-shadow: 0 5px 30px -15px black;
	display: inline-block;

}
.g2 svg {

	width: 200px;
	height: 200px;
	box-shadow: 0 5px 30px -15px black;
	font-size: 16pt;

}
.g2 text {

	dominant-baseline: ideographic;

}