.g3 svg {

	display: block;
	width: 80%;
	margin: 20px auto 30px auto;
	box-shadow: 0 5px 30px -15px black;

}

.g3 .x-axis,
.g3 .y-axis {

	stroke-width: 0.5px;
	stroke-opacity: 0.5;
	stroke: black;

}

.g3 .series {

	stroke-width: 2px;
	stroke: black;
	fill: none;

}
.g3 .axis-labels text {

	font-size: 2em;

}
.g3 .axis-labels line {

	stroke: black;

}
.g3 .x-axis-labels text {

	text-anchor: middle;
	dominant-baseline: text-before-edge;

}
.g3 .y-axis-labels text {

	text-anchor: end;
	dominant-baseline: middle;

}