.Graph1 {
  text-align: center;
  padding: 50px;
  background-color: #EEE;
  height: 100%;
}

.Graph1-logo {
  animation: Graph1-logo-spin infinite 20s linear;
  height: 80px;
}

.Graph1-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Graph1-title {
  font-size: 1.5em;
}

.Graph1-intro {
  font-size: large;
}

@keyframes Graph1-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

svg.graph {

  box-shadow: 0 0 50px -20px black;
  background-color: white;
  width: 800px;

}
.graph-path {

  stroke: black;
  stroke-width: 2;
  opacity: 0.8;
  fill: none;

}
.x-axis,
.y-axis {

  stroke: black;
  stroke-width: 1;

}
.x-asix-background,
.y-axis-background {

  fill: rgba( 0, 0, 0, 0.1 );

}