.g6.recharts-wrapper {

    margin: 100px auto;
    font-size: 10px;

}
.g6 .tooltip {

    background-color: rgba( 255, 255, 255, 0.8 );
    box-shadow: 0 0 1px 1px silver;
    padding: 10px;
    width: 80px;
    text-align: center;

}
.g6 .tooltip p {

    margin: 0;

}
.g6 .tooltip .series-name {

    font-weight: bold;

}

.g6 .tooltip .series-value {

    font-size: 3em;
    text-align: center;

}