.g5 {

    width: 900px;
    margin: 50px auto;
    padding: 10px;
    box-shadow: 0 0 10px -1px black;

}
.g5 svg {

    width: 100%;
    border: dashed 1px rgba(0,0,0,0.1);

}
.g5 #x-axis-labels {

    fill: rgba( 255, 0, 0, 0.1 );

}
.g5 #x-axis {

    stroke: rgb( 255, 0, 0 );

}
.g5 #y-axis-labels {

    fill: rgba( 0, 0, 255, 0.1 );

}
.g5 #y-axis {

    stroke: rgb( 0, 0, 255 );

}